.profile_image { 
  border: 3px solid rgba(0, 0, 0, 0.3);
  width:6%;
  align: center;
  text-align:center;
  margin:auto;
}

.navigation li {
  margin: 10px;
  text-align: center;
  border-style: solid;
  border: solid 1px black;
  display: inline-block;
  float: center;
  height: inherit;
  line-height: inherit;
  list-style-type: none;
  vertical-align: middle;
}

.overall {
 text-align: center;
}

.main_para {
    margin: 0 auto;
    padding-left: 50px;
}

